extends layout

block content
  header.w3-container.w3-blue-grey
    h1 Teste de DAW
  .w3-container
    li
        adress
        a(href=`/classes`) Classes
        br
    li
        adress
        a(href=`/termosIndice`) Termos de Indice
        